html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0px;
}

.container{
    width: 1000px;
    border: 5px solid black;
    margin: 100px auto;
    padding: 30px;
    display: block;
}
input{
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.input{
    display: block;
    width: 100%;
}

button{
    width: 100%;
    font-size: 40px;
    background-color: aliceblue;
    padding: 10px;
}
.select{
    margin: 50px 0px 50px 0px;
}

button:focus{
    background-color: rgb(21, 218, 145);
}