html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0px;
}

.container{
    width: 1000px;
    border: 5px solid black;
    margin: 100px auto;
    padding: 30px;
    display: block;
}
input{
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.input{
    display: block;
    width: 100%;
}